[Unit]
Description=Start scx_qmap
ConditionPathExists=/sys/kernel/debug/sched/ext

[Service]
Type=oneshot
ExecStart=/usr/bin/scx_qmap

[Install]
WantedBy=multi-user.target
