[Unit]
Description=Start scx_userland
ConditionPathExists=/sys/kernel/debug/sched/ext

[Service]
Type=oneshot
ExecStart=/usr/bin/scx_userland

[Install]
WantedBy=multi-user.target
