[Unit]
Description=Start scx_rustland
ConditionPathExists=/sys/kernel/debug/sched/ext

[Service]
Type=oneshot
ExecStart=/usr/bin/scx_rustland

[Install]
WantedBy=multi-user.target
