[Unit]
Description=Start scx_rusty
ConditionPathExists=/sys/kernel/debug/sched/ext

[Service]
Type=oneshot
ExecStart=/usr/bin/scx_rusty

[Install]
WantedBy=multi-user.target
