[Unit]
Description=Start scx_flatcg
ConditionPathExists=/sys/kernel/debug/sched/ext

[Service]
Type=simple
ExecStart=/bin/sh -c '/usr/bin/scx_flatcg 2>&1 | grep -E "warn|error"'
Restart=always

[Install]
WantedBy=multi-user.target
