[Unit]
Description=Start scx_nest
ConditionPathExists=/sys/kernel/debug/sched/ext

[Service]
Type=simple
ExecStart=/usr/bin/scx_nest

[Install]
WantedBy=multi-user.target
