[Unit]
Description=Start scx_flatcg
ConditionPathExists=/sys/kernel/debug/sched/ext

[Service]
Type=simple
ExecStart=/usr/bin/scx_flatcg
Restart=always

[Install]
WantedBy=multi-user.target
