[Unit]
Description=Start scx_central
ConditionPathExists=/sys/kernel/debug/sched/ext

[Service]
Type=oneshot
ExecStart=/usr/bin/scx_central

[Install]
WantedBy=multi-user.target
