[Unit]
Description=Start scx_userland
ConditionPathExists=/sys/kernel/debug/sched/ext

[Service]
Type=simple
ExecStart=/usr/bin/scx_userland
Restart=always

[Install]
WantedBy=multi-user.target
