[Unit]
Description=Start scx_simple
ConditionPathExists=/sys/kernel/debug/sched/ext

[Service]
Type=oneshot
ExecStart=/usr/bin/scx_simple

[Install]
WantedBy=multi-user.target
